*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
    
}
img{
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
.header_main{
    background: #002e5b;
    color:#fff;
}
.dropdown,.head_mail{
    font-size: 16px;
}
.header_icon{
    padding-right: 0;
}
.header_icon i{
    padding-right:10px;
}
.header_icon i:last-child{
    padding-right:0px;
}
.header_btn{
    padding: 15px 30px;
    color: #fff;
    background: #5830e0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    font-size: 16px;
}
header .row>* {
    padding-right: 0;
}
.number {
    position: relative;
}
.number i{
    color: #f18e95;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #fff0f1;
    text-align: center;
    line-height: 50px;
    position: absolute;
    left: -70px;
    top: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.number span{
    color: #002e5b;
    font-weight: bold;
    font-size: 16px;
}
.time {
    position: relative;
}
.time i{
    color: #5830e0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #efebff;
    text-align: center;
    line-height: 50px;
    position: absolute;
    left: -70px;
    top: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.time span{
    color: #002e5b;
    font-weight: bold;
    font-size: 16px;
}
/* navbar */
.menubar ul li a{
    color: #7777 !important;
    padding-left: 30px !important;
    font-size: 16px;
    font-weight: bold;
}
.menubar ul li a:hover{
    color: #002e5b !important;
}
.search_form{
    padding: 0 30px;
    position: relative;
}

.search_form form i{
    margin-top: 10px;
    color: #cfcfcf;
    position: absolute;
    left:40px;
    top: 5px;
}
.search_head{
    padding: 10px 20px 10px 40px;
    border: 0;
    color: #cfcfcf;
}
/* banner */
#banner{
    background: #000;
    padding: 100px 0;
    color: #fff;
}
.banner_txt p{
    color: #00cb9b;
    font-size: 14px;
    font-weight: bold;
}
.banner_txt h3{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}
.banner_item span a{
    padding: 0 20px;
    color: #fff;
}
.banner_item span:first-child a{
    color: #777777 !important;
}
.banner_item span:last-child{
    padding-right: 0px;
    border-left: 2px solid #999999;
}

/* about us section */
#about{
    padding: 150px 0 50px 0;
}
.about_img{
    position: relative;
}
.abimg_bg{
    position: absolute;
    right: 0;
    top: -48px;
}
.ab_ban{
    background: #e74d57;
    height: 28%;
    width: 60%;
    text-align: center;
    padding-top: 30px;
    position: absolute;
    right: 0;bottom: 0;
    color: #fff;
    padding-left: 50px;
}
.ab_ban h3{
    font-size: 70px;
    font-weight: bold;
}
.ab_ban p{
    font-size: 16px;
    font-weight: bold;
}
/* about us left side */
.about_text{
    padding-left: 30px;
}
.about_text span{
    color: #e74d58;
    font-size: 14px;
    font-weight: bold;
}
.about_text h3{
    color: #002e5b;
    font-size: 60px;
    font-weight: bold;
}
.about_text p{
    color: #999999;
    font-size: 16px;
    padding: 20px 0;
}
.about_inner{
    padding: 30px 0;
    position: relative;
    padding-right: 10px;
}
.about_inner h6{
    color: #002e5b;
    padding-left: 80px;
    margin-bottom: 20px;
}
.about_inner i{
    padding: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #fdf1f2;
    color: #e74d57;
    position: absolute;
    left: 0;
    top: 10px;
}
.button_one{
    border: 2px solid #333333;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    font-size: 16px;
    padding: 20px 30px;
    margin-left: 30px;
}
.button_one:hover{
    background: #002e5b;
    color: #fff;
}
/* why choose */
#why{
    background: url(../about-images/whybg.jpg) no-repeat center/cover;
    padding: 80px 0;
}
.why_head span{
    color: #e74d58;
    font-size: 14px;
    font-weight: bold;
}
.why_main{
    padding-top: 70px;
}
.why_head h3{
    color: #002e5b;
    font-size: 60px;
    font-weight: bold;
}
.why_inner{
    padding: 30px;
    background: #fff;
}
.why_inner h3{
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 20px;
}
.why_inner h5{
    font-size: 24px;
    font-weight: bold;
    color: #002e5b;
    padding: 20px 0;
}
.why_inner p{
    color: #999999;
    font-size: 14px;
}
/* ---- */
#client{
    background: #cfcfcf;
    padding: 50px 0;
}
/* skill */
#skill{
    padding: 50px 0;
    position: relative;
}
.skill_head span{
    color: #e74d58;
    font-size: 14px;
    font-weight: bold;
}

.skill_head h3{
    color: #002e5b;
    font-size: 55px;
    font-weight: bold;
}
.skill_item {
    position: relative;
    padding-right: 30px;
}
.skill_item p{
    font-size: 18px;
    font-weight: bold;
    color: #002e5b;
    padding: 20px;
}
.skill_item span{
    font-size: 18px;
    font-weight: bold;
    color: #572fdf;

    position: absolute;
    right: 0;
    top: 30px;
}
.skill_img{
    background: url(../about-images/skillvdo.png) no-repeat center/cover;
    padding: 200px 0;
    margin-left: 20px;
    text-align: center;
}
.skill_img i{
    height: 100px;
    width: 100px;
    border: 2px solid #00cb9b;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #00cb9b;
    font-size: 27px;
}
.skill_img i:hover{
    background: white;
    border: 2px solid transparent;
}
.skill_img::after{
    content: "";
    height: 100%;
    width: 342px;
    background:#00cb9b;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
/* faq section */
#FAQ{
    background: #f5f5f5;
    padding: 50px 0;
}
#FAQ .accor1{
    border: 0;
}
.faq_accordion button{
    color: #002e5b;
    font-weight: bold;
}
#FAQ .accor1 .accordion-button::after {
    content:"\002B";
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    height: 100%;
    width: 50px;
    background-color: #00cb9b;
    position: absolute;
    right: 0;
    top: 0;
    background-image:none ;
}
#FAQ .accor2{
    border: 0;
}
#FAQ .accor2 .accordion-button::after {
    content:"\002B";
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    height: 100%;
    width: 50px;
    background-color: #e74d57;
    position: absolute;
    right: 0;
    top: 0;
    background-image:none ;
}
#FAQ .accor3{
    border: 0;
}
#FAQ .accor3 .accordion-button::after {
    content:"\002B";
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    height: 100%;
    width: 50px;
    background-color: #542ed8;
    position: absolute;
    right: 0;
    top: 0;
    background-image:none ;
}
/* news feeds */
.news_main{
    border: 0;
    margin: 70px 0;   
}
.new_img{
    position: relative;
}
.new_img img{
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.date {
    background: #00cb9b;
    height: 80px;
    width: 83px;
    text-align: center;
    color: #f7f7f7;
    padding-top: 15px;
    position: absolute;
    right: 35px;
    bottom: -40px;
}
.news_inner{
    padding: 20px;
}
.news_inner h6{
    font-size: 14px;
    color: #777777;
    font-weight: bold;
    padding-bottom: 20px;
}
.news_inner span{
    color: #00cb9b;
    border-left: 1px solid #999999;
    padding-left: 10px;
    margin-left: 10px;
}
.news_inner h5{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #002e5b;
}
.news02 .date {
    background: #e74d57;
    height: 80px;
    width: 83px;
    text-align: center;
    color: #f7f7f7;
    padding-top: 15px;
    position: absolute;
    right: 35px;
    bottom: -40px;
}
.news02 .news_inner span{
    color: #e74d57;
    border-left: 1px solid #999999;
    padding-left: 10px;
    margin-left: 10px;
}
.news03 .date {
    background: #542ed8;
    height: 80px;
    width: 83px;
    text-align: center;
    color: #f7f7f7;
    padding-top: 15px;
    position: absolute;
    right: 35px;
    bottom: -40px;
}
.news03 .news_inner span{
    color: #542ed8;
    border-left: 1px solid #999999;
    padding-left: 10px;
    margin-left: 10px;
}
/* footer */
footer{
    background: #002e5b;
}
.foot_item{
    padding: 30px 0;
}
.foot_item h4{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.foot_item p{
    color: #bdced3;
    font-size: 16px;
    padding: 30px 0;
}
.support{
    margin-left: 20px;
    padding: 10px 20px;
    background: #e74d57;
    color: #fff;
    height: 75px;
    width: 95%;
}
.support h4{
    color: #fff;
    font-family: 'Phudu', cursive;
    font-size: 24px;
}
.foot_item ul{
    padding-left: 0;
    margin-top: 30px;
    color: #bdced3;
}
.foot_item ul li{
    padding-bottom: 10px;
    font-size: 14px;
}
.social_icon h6{
    color: #bdced3;
}
.social_icon i{
    padding-top: 15px;
    color: #bdced3;
    margin-right: 10px;
}
.social_icon i:hover{
  color: #00cb9b;
}
.pages_list ul li{
    padding-bottom: 15px ;
}
.let_main{
    margin-top: 30px;
}
.letter_email{
    width: 300px;
    padding: 15px;
    border: 0;
    background: #001830;
}
.foot_btn .button_one{
    color: #fff !important;
    margin: 20px 0 20px 0;
    font-weight: bold;
    padding: 15px 25px;
    border: 1px solid #fff;
}
.foot_btn .button_one:hover{
    color:#f7f7f7 !important;
    background: #00cb9b;
    border: 1px solid transparent;
}
.foot_item i{
    color: #bdced3;
}